body {
  margin: 0;
}

.card {
  width: 63.5mm;
  height: 88.9mm;
  display: block;
  float: left;
  margin-left:0.4mm;
  margin-top:0.4mm;
}

.content {
  display: block;
  height: {{container.height}};
  width: {{container.width}};
  margin-top: {{container.topMargin}};
  margin-left: {{container.leftMargin}};
  background-image: url(checked_tiles.png);
  background-repeat: repeat;
}

.page {
  break-inside: avoid-page;
  width: {{page.width}};
  height: {{page.height}};
  overflow:hidden;

}
